
body {
  background-color: pink;
  text-align: center;
}


.title {
  color: white;
  font-size: 100px;
}

.container {
  border: 5px solid lightgreen;
}

input {
  height: 50px;
  width: 300px;
}

button {
  height: 50px;
  font-style: italic;;
}



span {
  display:none;
}

li {
  display: inline-block;
  border:1px solid black;
  list-style: none;
  float: left;
  margin: 10px 10px;
  width: 250px;
  height: 250px;
  text-overflow: ellipsis;

}

img {
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
}
